# LaunchDarkly Configuration
NEXT_PUBLIC_LD_CLIENT_ENV_KEY="your_ld_client_environment_key_here"
LD_REST_API_TOKEN="your_ld_rest_api_token_here"
LD_PROJECT_KEY="your_ld_project_key"
LD_ENV_KEY="production"

# App Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SAMPLE_SITE_URL="http://localhost:3001"
